:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  font-size: 40px;
  text-align: left;
  color: black;
  border-width: 5px;
  border: solid;
  width: 200px;
  border-radius: 5px;
  background: whitesmoke;
}

.calculator {
  font-size: 15px;
  text-align: right;
  border-radius: 1em;
  width: 200px;
  height: 175px;
  background: grey;
  padding: 5px 5px 5px 5px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
}

.function {
  border-radius: 15%;
  color: white;
  width: 70px;
  background: rgb(199, 99, 18);
}

.clear {
  color: white;
  background: red;
  width: 70px;
  border-radius: 5px;
}

.button {
  color: white;
  width: 70px;
  background: rgb(65, 64, 64);
  border-radius: 15px;
}